<!-- Free shipping progress markup -->
<div class="cart-shipping__wrapper">
  <p class="cart-shipping__numOuter">Purchase <span class="cart-shipping__num"></span> more item<span class="cart-shipping__plural">s</span> for free shipping!</p>
  <p class="cart-shipping__success">You're eligible for free shipping!</p>
  <div class="cart-shippingThreshold__bar">
    <span class="cart-shippingThreshold__progress"></span>
  </div>
</div>

<!-- Slider main container -->
<div class="swiper">
  <div class="swiper-wrapper">
    {% for product in settings.cart_drawer_collection.products %}
      <div class="swiper-slide">
        {% render "product-card", 
          product: product, 
          show_cta: true,
          secondary_background: true
        %}
      </div>
    {% endfor %}
  </div>
  
  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<style>
.cart-shipping__wrapper {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.cart-shipping__numOuter {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #262626;
}
  
.cart-shippingThreshold__bar {
  position: relative;
  background: rgba(174, 183, 223, 0.52);
  border-radius: 4px;
  height: 6px;
}

.cart-shippingThreshold__progress {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 0;
  max-width: 100%;
  height: 100%;
  display: block;
  background: #3050A2;
  border-radius: 4px;
}
</style>

<script>
const swiper = new Swiper('.swiper', {
  slidesPerView: 2.3,
  slidesPerGroup: 1,
  spaceBetween: 8,
  loop: true,
  preventClicks: true,

  breakpoints: {
    768: {
      slidesPerView: 3.3
    }
  }
});
  
// Calculate the progress number, and the width of the progress bar. Compiled to ES5.
function calculateProgress(currentVal, targetVal) {
  const progressBar = document.querySelectorAll('.cart-shippingThreshold__progress');
  const progressNum = document.querySelectorAll('.cart-shipping__num');
  const progressOuter = document.querySelectorAll('.cart-shipping__numOuter');
  const successMsg = document.querySelectorAll('.cart-shipping__success');
  const showPlural = document.querySelectorAll('.cart-shipping__plural');


  // Calculate how far progress is from the total as a percentage
  const result = Math.round(100 * currentVal / targetVal);
  progressBar.forEach(function(el){
    el.setAttribute('style', "width: ".concat(result, "%"));
  })


  // Update the progess text. If threshold is met, show success message
  const newProgressNum = (targetVal - currentVal);

  if (newProgressNum > 1) {
    showPlural.forEach(function(el){
      el.setAttribute('style', 'display: inline-block;');
    });
  } else {
    showPlural.forEach(function(el){
      el.setAttribute('style', 'display: none;');
    });
  }
  
  if (newProgressNum >= 4){
    successMsg.forEach(function(el){
      el.setAttribute('style', 'display: block;');
    });
    progressOuter.forEach(function(el){
      el.setAttribute('style', 'display: none;');
    });
    progressNum.forEach(function(el){
      el.textContent = newProgressNum;
    });
  } else {
    successMsg.forEach(function(el){
      el.setAttribute('style', 'display: none;');
    });
    progressOuter.forEach(function(el){
      el.setAttribute('style', 'display: block;');
    });
    progressNum.forEach(function(el){
      el.textContent = newProgressNum;
    });
  }
};

$.ajax({
  type: 'GET',
  url: '/cart.js',
  dataType: 'json',
  success: (cart) => {
    calculateProgress(cart.item_count, 4);
  }
});
  
</script>