<!-- Free shipping progress markup -->
<div class="cart-shipping__wrapper">
  <p class="cart-shipping__numOuter">Purchase <span class="cart-shipping__num"></span> more item<span class="cart-shipping__plural">s</span> for free shipping!</p>
  <p class="cart-shipping__success">You're eligible for free shipping!</p>
  <div class="cart-shippingThreshold__bar">
    <span class="cart-shippingThreshold__progress"></span>
  </div>
</div>

<style>
/*  Style the progress bar  */
.cart-shipping__wrapper {
  padding: 15px;
  max-width: 700px;
  margin: 0 auto;
}

.cart-shippingThreshold__bar {
  position: relative;
  /*  Progress bar background color  */
  background-color: #d8d8d8;
  height: 1rem;
}

.cart-shippingThreshold__progress {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 0;
  max-width: 100%;
  height: 100%;
  display: block;
  /*  Progress bar fill color  */
  background-color: tomato; 
}
</style>

<script>
// Calculate the progress number, and the width of the progress bar. Compiled to ES5.
function calculateProgress(currentVal, targetVal) {
  const progressBar = document.querySelectorAll('.cart-shippingThreshold__progress');
  const progressNum = document.querySelectorAll('.cart-shipping__num');
  const progressOuter = document.querySelectorAll('.cart-shipping__numOuter');
  const successMsg = document.querySelectorAll('.cart-shipping__success');
  const showPlural = document.querySelectorAll('.cart-shipping__plural');


  // Calculate how far progress is from the total as a percentage
  const result = Math.round(100 * currentVal / targetVal);
  progressBar.forEach(function(el){
    el.setAttribute('style', "width: ".concat(result, "%"));
  })


  // Update the progess text. If threshold is met, show success message
  const newProgressNum = (targetVal - currentVal);

  if (newProgressNum > 1) {
    showPlural.forEach(function(el){
      el.setAttribute('style', 'display: block;');
    });
  }
  
  if (newProgressNum >= 4){
    successMsg.forEach(function(el){
      el.setAttribute('style', 'display: block;');
    });
    progressOuter.forEach(function(el){
      el.setAttribute('style', 'display: none;');
    });
    progressNum.forEach(function(el){
      el.textContent = newProgressNum;
    });
  } else {
    successMsg.forEach(function(el){
      el.setAttribute('style', 'display: none;');
    });
    progressOuter.forEach(function(el){
      el.setAttribute('style', 'display: block;');
    });
    progressNum.forEach(function(el){
      el.textContent = newProgressNum;
    });
  }
};

$.ajax({
  type: 'GET',
  url: '/cart.js',
  dataType: 'json',
  success: (cart) => {
    calculateProgress(cart.item_count, 4);
  }
});
  
</script>