<style>
  .blue-banner__container {
    width: 100%;
    padding: 52px 150px;
    background: #29438B;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .blue-banner__text-wrapper {
    width: 100%;
    max-width: 650px;
  }

  .blue-banner__header,
  .blue-banner-text {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 120%;
    color: #fff;
  }

  .blue-banner__header {
    color: #FF9A30;
  }

  .blue-banner__image-container {
    width: 425px;
    height: 425px;
    position: relative;
  }

  .blue-banner__image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .blue-banner__container {
      padding: 34px 8px;
    }

    .blue-banner__header,
    .blue-banner-text {
      font-size: 30px;
      line-height: 110%;
    }
  }
</style>

<div class="blue-banner__container">
  <div class="blue-banner__text-wrapper">
    <div class="blue-banner__header">Our Mission</div>
    <p class="blue-banner-text">
      Provide delicious healthy snacks that nourish the body and support overall wellness. 
      We believe snacking should be a satisfying, guilt-free, and enjoyable experience 
      without sacrificing nutrition or taste.
    </p>
  </div>

  <div class="blue-banner__image-container">
    <img src="{{ section.settings.image | img_url: 'master' }}" alt="Our mission image" loading="lazy"/>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}