<link rel="stylesheet" href="{{ 'contact-information.css' | asset_url }}">

<!-- Contact Text -->
<section class="contact-text">
  <div class="contact-text-container">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img src="https://cdn.shopify.com/s/files/1/0666/5784/5535/files/envelope.svg?v=1666571392" alt="envelope">
      <h3>Email</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in ero.
      </p>
      <a href="mailto:hello@uplumbit.com">contact@u-plumb-it.com</a>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
      <img src="https://cdn.shopify.com/s/files/1/0666/5784/5535/files/phone.svg?v=1666571392" alt="phone">
      <h3>Phone</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in ero.
      </p>
      <a href="“tel:(713)942-2277">(713) 942-2277</a>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
      <img src="https://cdn.shopify.com/s/files/1/0666/5784/5535/files/location.svg?v=1666571392" alt="envelope">
      <h3>Office</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in ero.
      </p>
      <a target="_blank" href="https://www.google.com/maps/place/U-Plumb-It/@29.754043,-95.392605,15z/data=!4m5!3m4!1s0x0:0xb607023f2bce82c3!8m2!3d29.7540433!4d-95.3926054?hl=en">1424 Montrose Blvd, Houston, TX 77019</a>
    </div>
  </div>
</section>
<!-- /Contact Text -->