.contact-information-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

@media (max-width: 990px) {
  .contact-information-container {
    flex-direction: column;
    justify-content: center;
  }
}

.contact-information-container .info-container {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 990px) {
  .contact-information-container .info-container {
    width: 100%;
    margin-bottom: 54px;
  }
}

.contact-information-container .info-container img {
  margin: 0 0 32px 0;
  max-width: 40px;
}

.contact-information-container .info-container h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  color: #000000;
  margin: 0 0 16px 0;
  text-align: center;
}

.contact-information-container .info-container a, 
.contact-information-container .info-container p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 24px;
  text-align: center;
  max-width: 405px;
}

.contact-information-container .info-container a {
  text-decoration: underline!important;
}