.header-product-card-container {
    display: none;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    text-decoration: none;
    width: 100%;
}

.submenu-collection-products {
    display: none;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    text-decoration: none;
    width: 100%;
    padding: 20px 0;
}

.header-product-card-container.active,
.submenu-collection-products.active {
    display: flex;
}

.header-product-card-container a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.submenu-collection-products a {
    text-decoration: none;
    width: 45%;
    margin: 0;
}

.header-product-card-container .product-card {
    width: 20%;
    background: linear-gradient(0deg, #F9F4EF, #F9F4EF);
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    margin: 0 12px;
}

.submenu-collection-products .product-card,
.product-card {
    width: 45%;
    background: linear-gradient(0deg, #F9F4EF, #F9F4EF);
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    margin: 5px;
}

.header-product-card-container .product-card:hover,
.submenu-collection-products .product-card:hover {
    border: 1px solid #2F4FA1;
}

.header-product-card-container .product-card img,
.submenu-collection-products .product-card img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.header-product-card-container .product-card .product-title {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    text-align: center;
    margin: 0;
    text-decoration: none;
}

.submenu-collection-products .product-card .product-title {
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 150%;
    color: #000000;
    text-align: center;
    margin: 0;
    text-decoration: none;
}

.header-product-card-container .product-card .product-price {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    text-align: center;
    margin: 5px 0 0 0;
    text-decoration: none;
}

.submenu-collection-products .product-card .product-price {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
    text-align: center;
    margin: 5px 0 0 0;
    text-decoration: none;
}

.product-card {
    width: 100%;
}