.blog-articles {
  display: grid;
  grid-gap: 1rem;
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: var(--grid-mobile-vertical-spacing);
}

.blog-articles .card-wrapper {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .blog-articles {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing); 
  }

  .blog-articles--collage > *:nth-child(3n + 1),
  .blog-articles--collage > *:nth-child(3n + 2):last-child {
    grid-column: span 2;
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .card,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .card {
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio::before {
    padding-bottom: 22rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 44rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio .ratio::before {
    padding-bottom: 27.5rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 55rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 82.5rem;
  }
}

.swiper {
  height: 100%;
  max-width: 70%;
  min-width: 800px;
  margin: 0 0 10px 0;
  border-right: 1px solid #3356AE;
}

.swiper-slide {
  width: auto;
  height: auto;
}

@media (max-width: 1317px) {
  .swiper {
    width: 100%;
    min-width: 0;
    max-width: none;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .swiper {
    border-rght: none;
  }
}

.title--primary {
  margin-bottom: 24px;
}

.subtitle--primary {
  margin-bottom: 50px;
}

.blog-tag {
  background: #fff;
  border: 1px solid #3356AE;
  border-radius: 100px;
  text-decoration: none;
  padding: 10px 26px;
  text-transform: capitalize;
  margin: 0 15px 0 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #3356AE;
  text-align: center;
}

.blog-tag.active {
  color: #fff;
  background: #3356AE;
}

.blog-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px 0 50px 0;
}

.main-blog .search-modal__form {
  max-width: 365px;
}

@media (max-width: 1317px) {
  .main-blog .search-modal__form {
    max-width: none;
    width: 100%;
  }
}

.main-blog form.search-modal__form {
  border: 1px solid #000000;
  border-radius: 50px;
}

.main-blog form input,
.main-blog form .field,
.main-blog form .field::before {
  border-radius: 50px;
  background: transparent;
}

.main-blog form .field__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #505050;
  letter-spacing: 0px;
}

.main-blog form .search__button {
  background: #2F4FA1!important;
  border-radius: 50px;
  color: #fff;
}

.first-blog-article-container {
  color: #000;
  text-decoration: none;
}

.first-blog-article-container:hover .first-blog-image img {
  scale: 1.05;
}

.first-blog-article {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 0 0 50px 0;
  border: var(--blog-card-border-width) solid #000;
  border-radius: var(--blog-card-corner-radius);
  z-index: 10;
  overflow: hidden;
}

.first-blog-image {
  width: 50%;
  position: relative;
  min-height: 500px;
  z-index: -1;
  overflow: hidden;
}

.first-blog-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  transition: 0.5s;
}

.first-blog-info {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  min-height: 500px;
  padding: 48px;
}

.first-blog-info__top .blog-tag,
.ud-article-card .blog-tag {
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  padding: 0;
  margin: 0 8px 8px 0;
  display: inline-block;
  color: #3356AE;
}

.first-blog-info__top .blog-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  margin: 0 0 8px 0;
}

.first-blog-info__top .blog-excerpt,
.ud-article-card-info__top .blog-excerpt,
.first-blog-info__top .blog-excerpt p,
.ud-article-card-info__top .blog-excerpt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
}

.first-blog-info__bottom-content,
.ud-article-card__bottom-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.first-blog-info__bottom-content .author-name,
.ud-article-card__bottom-content {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.ud-article-card-container {
  color: #000;
  text-decoration: none;
}

.ud-article-card-container:hover .ud-article-card-image img {
  scale: 1.05;
}

.ud-article-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 0 50px 0;
  border: var(--blog-card-border-width) solid #000;
  border-radius: var(--blog-card-corner-radius);
  z-index: 10;
  overflow: hidden;
}

.ud-article-card-image,
.ud-article-card-info {
  width: 100%;
  min-height: auto;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.ud-article-card-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  transition: 0.5s;
}

.ud-article-card-image {
  min-height: 300px;
}

.ud-article-card-info {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}

.ud-article-card-info .blog-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 140%;
  margin: 0 0 8px 0;
}

.ud-article-card-info .blog-excerpt {
  margin-bottom: 25px;
}

.ud-article-card-info__bottom-content,
.ud-article-card-info__bottom-content .author-name {
  font-size: 14px;
}

@media (max-width: 768px) {
  .first-blog-article {
    flex-direction: column;
    margin: 0 0 20px 0;
  }

  .first-blog-image,
  .first-blog-info {
    width: 100%;
    min-height: auto;
  }

  .first-blog-image {
    min-height: 300px;
  }

  .first-blog-info {
    padding: 20px;
  }

  .first-blog-info .blog-title {
    font-size: 20px;
    line-height: 140%;
  }

  .first-blog-info .blog-excerpt {
    margin-bottom: 25px;
  }

  .first-blog-info__bottom-content,
  .first-blog-info__bottom-content .author-name,
  .ud-article-card-info__bottom-content,
  .ud-article-card-info__bottom-content .author-name {
    font-size: 10px;
  }

  .ud-article-card-info__bottom-content .author-name {
    display: none;
  }

  .ud-article-card {
    flex-direction: row;
    margin: 0 0 20px 0;
  }

  .ud-article-card-info {
    width: 70%;
  }

  .ud-article-card-image {
    width: 30%;
    min-height: 0;
  }
  
  .ud-article-card-info {
    padding: 12px;
  }

  .ud-article-card-info .blog-excerpt {
    display: none;
  }

  .ud-article-card-info .blog-title {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 16px;
  }
}
